<h1>Listing party_artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @party_artists.each do |party_artist| %>
  <tr>
    <td><%= party_artist.name %></td>
    <td><%= party_artist.references %></td>
    <td><%= link_to 'Show', party_artist %></td>
    <td><%= link_to 'Edit', edit_party_artist_path(party_artist) %></td>
    <td><%= link_to 'Destroy', party_artist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Party artist', new_party_artist_path %>
