<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @party_artist.name %>
</p>

<p>
  <b>References:</b>
  <%= @party_artist.references %>
</p>


<%= link_to 'Edit', edit_party_artist_path(@party_artist) %> |
<%= link_to 'Back', party_artists_path %>
